{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include content}

	{block scripts}
	<script>
		var basePath = {$basePath};
	</script>
	<script src="{$basePath}/js/jquery-2.1.1.min.js"></script>
	<script src="{$basePath}/js/underscore-min.js"></script>
	<script src="{$basePath}/js/backbone-min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
